[Unit]
Description=DevOps Backend Docker Container
Requires=docker.service devops-postgres.service
After=network-online.target docker.service devops-postgres.service
Wants=network-online.target

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/docker start -a backend
ExecStop=/usr/bin/docker stop backend

[Install]
WantedBy=multi-user.target
