- name: Install Docker package
  apt:
    name: "{{ docker_package_name }}"
    state: "{{ docker_package_state }}"
    update_cache: yes

- name: Enable and start Docker service
  systemd:
    name: "{{ docker_service_name }}"
    enabled: yes
    state: started

- name: Add users to docker group
  user:
    name: "{{ item }}"
    groups: docker
    append: yes
  loop: "{{ docker_users }}"
  when: docker_users | length > 0


- name: Ensure docker networks exist
  shell: |
    docker network inspect {{ item.name }} >/dev/null 2>&1 || docker network create {{ item.name }}
  loop: "{{ docker_networks }}"
  when: docker_networks | length > 0


# (опционально) Login to GHCR, если пакет приватный
- name: Login to GHCR
  community.docker.docker_login:
    registry_url: "{{ ghcr_registry | default('ghcr.io') }}"
    username: "{{ ghcr_username }}"
    password: "{{ ghcr_token }}"
  when:
    - ghcr_username is defined
    - ghcr_token is defined

# Pull backend image (важно: именно backend_image, который ты используешь в systemd unit)
- name: Pull backend image
  command: docker pull {{ backend_image }}
  when: backend_image is defined and backend_image | length > 0


- name: Pull docker images
  command: docker pull {{ item.name }}:{{ item.tag | default('latest') }}
  loop: "{{ docker_images }}"
  when: docker_images | length > 0
