[Unit]
Description=DevOps Postgres Docker Container
Requires=docker.service vagrant.mount
After=network-online.target docker.service vagrant.mount
Wants=network-online.target

[Service]
Restart=always
RestartSec=5

# сеть
ExecStartPre=/bin/sh -c '/usr/bin/docker network inspect devops-net >/dev/null 2>&1 || /usr/bin/docker network create devops-net'

# каталог под данные
ExecStartPre=/bin/mkdir -p /srv/postgres/data

# тянем образ
ExecStartPre=/usr/bin/docker pull postgres:16

# убиваем старый контейнер, если был
ExecStartPre=-/usr/bin/docker rm -f devops-postgres

ExecStart=/usr/bin/docker run \
  --name devops-postgres \
  --network devops-net \
  -e POSTGRES_DB=appdb \
  -e POSTGRES_USER=user \
  -e POSTGRES_PASSWORD=pass \
  -p 5432:5432 \
  -v /srv/postgres/data:/var/lib/postgresql/data \
  -v /vagrant/db-init:/docker-entrypoint-initdb.d:ro \
  postgres:16

ExecStop=/usr/bin/docker stop devops-postgres

[Install]
WantedBy=multi-user.target
