---
- name: Common docker setup on all nodes
  hosts: all
  become: true

  roles:
    - role: my.docker

- name: DB nodes (only Postgres service)
  hosts: db
  become: true

  pre_tasks:
    - name: Ensure Postgres init directory exists
      file:
        path: "{{ pg_init_dir }}"
        state: directory
        mode: "0755"
    
    - name: Copy Postgres init scripts
      copy:
        src: "db-init/"
        dest: "{{ pg_init_dir }}/"
        mode: "0644"

  roles:
    - role: my.systemd-service
      vars:
        systemd_services:
          devops-postgres:
            name: devops-postgres
            description: "Devops Postgres container"
            after: "network-online.target docker.service"
            wants: "network-online.target docker.service"
            type: simple
            exec_start: >
              /usr/bin/docker run --rm --name devops-postgres
              --network devops-net
              -e POSTGRES_DB={{ postgres_db }}
              -e POSTGRES_USER={{ postgres_user }}
              -e POSTGRES_PASSWORD={{ postgres_password }}
              -p {{ postgres_port }}:{{ postgres_port }}
              -v {{ pg_data_dir }}:/var/lib/postgresql/data
              -v {{ pg_init_dir }}:/docker-entrypoint-initdb.d:ro
              postgres:16
            restart: always
            enabled: true
            wanted_by: "multi-user.target"

- name: Backend nodes (two backend instances)
  hosts: back
  become: true

  roles:
    - role: my.systemd-service
      vars:
        systemd_services:
          backend@:
            name: "backend@"
            description: "Devops backend container instance"
            after: "network-online.target docker.service devops-postgres.service"
            wants: "network-online.target docker.service"
            type: simple
            working_directory: /srv/backend
            exec_start: >
              /usr/bin/docker run --rm --name backend-%i
              --network devops-net
              --label traefik.enable=true
              --label "traefik.http.routers.app.rule=Host('back.local') && PathPrefix('/')"
              --label traefik.http.routers.app.entrypoints=websecure
              --label traefik.http.routers.app.tls=true
              --label traefik.http.services.app.loadbalancer.server.port=8000
              -e POSTGRES_DB={{ postgres_db }}
              -e POSTGRES_USER={{ postgres_user }}
              -e POSTGRES_PASSWORD={{ postgres_password }}
              -e POSTGRES_HOST={{ db_host }}
              -e POSTGRES_PORT={{ postgres_port }}
              {{ backend_image }}
            exec_stop: >
              /usr/bin/docker stop backend-%i
            restart: always
            enabled: false
            wanted_by: "multi-user.target"

  post_tasks:
    - name: Enable + start backend instances
      systemd:
        name: "backend@{{ item }}"
        enabled: true
        state: started
        daemon_reload: true
      loop: [1, 2]
