---
# 1) Общий докер и сеть для всех нод
- name: Common docker setup on all nodes
  hosts: all
  become: true

  roles:
    - role: my.docker
      vars:
        docker_users:
          - vagrant
        docker_networks:
          - name: devops-net
        docker_images:
          - { name: buldosik/devops-backend, tag: "1.1" }
          - { name: postgres, tag: "16" }

- name: DB nodes (only Postgres service)
  hosts: db
  become: true

  roles:
    - role: my.systemd-service
      vars:
        systemd_services:
          devops-postgres:
            name: devops-postgres
            description: "Devops Postgres container"
            after: "network-online.target docker.service vagrant.mount"
            wants: "network-online.target docker.service"
            type: simple
            exec_start: >
              /usr/bin/docker run --rm --name devops-postgres
              --network devops-net
              -e POSTGRES_DB=appdb
              -e POSTGRES_USER=user
              -e POSTGRES_PASSWORD=pass
              -p 5432:5432
              -v /srv/postgres/data:/var/lib/postgresql/data
              -v /vagrant/db-init:/docker-entrypoint-initdb.d:ro
              postgres:16
            restart: always
            enabled: true
            wanted_by: "multi-user.target"

- name: Backend nodes (only backend service)
  hosts: back
  become: true

  roles:
    - role: my.systemd-service
      vars:
        systemd_services:
          backend:
            name: backend
            description: "Devops backend container"
            after: "network-online.target docker.service devops-postgres.service"
            wants: "network-online.target docker.service"
            type: simple
            working_directory: /srv/backend
            exec_start: >
              /usr/bin/docker run --rm --name backend
              --network devops-net
              -e POSTGRES_DB=appdb
              -e POSTGRES_USER=user
              -e POSTGRES_PASSWORD=pass
              -e POSTGRES_HOST=192.168.0.81
              -e POSTGRES_PORT=5432
              -p 8000:8000
              buldosik/devops-backend:1.1
            restart: always
            enabled: true
            wanted_by: "multi-user.target"

- name: Dev nodes (both backend and db)
  hosts: dev
  become: true

  roles:
    - role: my.systemd-service
      vars:
        systemd_services:
          devops-postgres:
            name: devops-postgres
            description: "Devops Postgres container"
            after: "network-online.target docker.service vagrant.mount"
            wants: "network-online.target docker.service"
            type: simple
            exec_start: >
              /usr/bin/docker run --rm --name devops-postgres
              --network devops-net
              -e POSTGRES_DB=appdb
              -e POSTGRES_USER=user
              -e POSTGRES_PASSWORD=pass
              -p 5432:5432
              -v /srv/postgres/data:/var/lib/postgresql/data
              -v /vagrant/db-init:/docker-entrypoint-initdb.d:ro
              postgres:16
            restart: always
            enabled: true
            wanted_by: "multi-user.target"

          backend:
            name: backend
            description: "Devops backend container"
            after: "network-online.target docker.service devops-postgres.service"
            wants: "network-online.target docker.service"
            type: simple
            working_directory: /srv/backend
            exec_start: >
              /usr/bin/docker run --rm --name backend
              --network devops-net
              -e POSTGRES_DB=appdb
              -e POSTGRES_USER=user
              -e POSTGRES_PASSWORD=pass
              -e POSTGRES_HOST=devops-postgres
              -e POSTGRES_PORT=5432
              -p 8000:8000
              buldosik/devops-backend:1.1
            restart: always
            enabled: true
            wanted_by: "multi-user.target"
